<div class="grid wide">
    <div class="row">
        <div class="tablet__navbar--list">
            <a href="../../index.html" class="tablet__navbar--item">
                <div class="icon">
                    <img src="https://cdn.pnj.io/images/image-update/layout/mobile/home-default.svg" width="24.1167"
                        height="23.5" alt="">
                </div>
                <div class="name">
                    <p>Trang chủ</p>
                </div>
            </a>
            <a href="#container" class="tablet__navbar--item">
                <div class="icon">
                    <img src="https://cdn.pnj.io/images/image-update/layout/mobile/tabsale-default.svg" width="28.3833"
                        height="19.0333" alt="">
                </div>
                <div class="name">
                    <p>Khuyến mãi</p>
                </div>
            </a>
            <a href="../../login.html" class="tablet__navbar--item" id="mobileAccountLink">
                <div class="icon">
                    <img src="https://cdn.pnj.io/images/image-update/layout/mobile/ME-default.svg" width="23.5"
                        height="23.5" alt="">
                </div>
                <div class="name">
                    <p id="accountName">My PNJ</p>
                </div>
            </a>
            <a href="#" class="tablet__navbar--item">
                <div class="icon">
                    <img src="https://cdn.pnj.io/images/image-update/layout/mobile/noti-default.svg" width="24.1167"
                        height="24.1167" alt="">
                </div>
                <div class="name">
                    <p>Thông báo</p>
                </div>
            </a>
            <div class="tablet__navbar--item">
                <div class="icon">
                    <img src="https://cdn.pnj.io/images/image-update/layout/mobile/Tuvan-icon-1.svg" width="27.3"
                        height="24.5333" alt="">
                </div>
                <div class="name">
                    <p>Tư vấn</p>
                </div>
                <ul>
                    <li><a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i></a></li>
                    <li><a href="https://www.messenger.com/e2ee/t/6824947204238860/?locale=vi_VN"><i
                                class="fa-brands fa-facebook-messenger"></i></a></li>
                </ul>
            </div>
            <div class="tablet__navbar--item">
                <label for="nav__input" class="icon">
                    <img src="https://cdn.pnj.io/images/image-update/layout/mobile/danhmuc-default.svg" width="23.5"
                        height="17.5" alt="">
                </label>
                <div class="name">
                    <p>Danh mục</p>
                </div>
            </div>
        </div>

        <input type="checkbox" hidden name="" class="nav__inputs" id="nav__input">

        <label for="nav__input" class="navbar__overlay"></label>
        <nav class="navbar__tablet">
            <label for="nav__input" class="narbar__tablet--close">
                <i class="fa-solid fa-xmark"></i>
            </label>
            <ul class="navbar__tablet--list" id="tablet-category-menu">
            </ul>
        </nav>
    </div>
</div>