<div class="home-bottom-nav">
    <a href="../../my-home.html" class="home-bottom-nav-item">
        <div class="home-bottom-nav-hover">
            <img src="https://cdn.pnj.io/images/customer/home/ic-solar_home-angle-bold-duotone.svg" alt="">
        </div>
        <span>Trang chủ</span>
    </a>
    <a href="#" class="home-bottom-nav-item active">
        <div class="home-bottom-nav-image">
            <img src="https://cdn.pnj.io/images/customer/home/ic_chat_and_phone.svg" alt="">
        </div>
        <span>Tư vấn</span>
    </a>
    <a href="../../my-account.html" class="home-bottom-nav-item">
        <div class="home-bottom-nav-hover">
            <img src="https://cdn.pnj.io/images/customer/home/ic_user.svg" alt="">
        </div>
        <span>Tài khoản</span>
    </a>
</div>