<div class="sidenav-header">
    <i class="fas fa-times p-3 cursor-pointer text-dark opacity-5 position-absolute end-0 top-0 d-none d-xl-none"
        aria-hidden="true" id="iconSidenav"></i>
    <a class="navbar-brand px-4 py-3 m-0" href="./index.html" target="_blank">
        <img src="https://cdn.pnj.io/images/logo/pnj.com.vn.png" class="navbar-brand-img" width="88" alt="main_logo">
    </a>
</div>
<hr class="horizontal dark mt-0 mb-2">
<div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link active bg-gradient-dark text-white" href="./dashboard.html">
                <i class="material-symbols-rounded opacity-5">dashboard</i>
                <span class="nav-link-text ms-1">Bảng điều khiển</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="../../tables-account.html">
                <i class="material-symbols-rounded opacity-5">person</i>
                <span class="nav-link-text ms-1">Quản lý tài khoản</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="../../tables-order.html">
                <i class="material-symbols-rounded opacity-5">receipt_long</i>
                <span class="nav-link-text ms-1">Quản lý đơn hàng</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="../../tables-category.html">
                <img src="https://cdn-icons-png.flaticon.com/512/9131/9131997.png" class="opacity-5" width="16px" alt=""
                    title="" class="img-small" data-first-enter-image="true">
                <span class="nav-link-text ms-1">Quản lý danh mục</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="../../tables-product.html">
                <img src="https://cdn-icons-png.flaticon.com/512/4059/4059951.png" class="opacity-5" width="18px"
                    alt="">
                <span class="nav-link-text ms-1">Quản lý sản phẩm</span>
            </a>
        </li>
        <li class="nav-item mt-3">
            <h6 class="ps-4 ms-2 text-uppercase text-xs text-dark font-weight-bolder opacity-5">Tài khoản</h6>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="../../profile.html">
                <i class="material-symbols-rounded opacity-5">person</i>
                <span class="nav-link-text ms-1">Thông tin cá nhân</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="#" id="logoutBtn">
                <img src="https://cdn-icons-png.flaticon.com/512/1286/1286853.png" class="opacity-5" width="14px"
                    alt="">
                <span class="nav-link-text ms-1">Đăng xuất</span>
            </a>
        </li>
    </ul>
</div>